/* //////first font////////////// */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
/* //////////////// logo font ////////////////// */
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --main-padding: 100px;
  /* ///////////////////// skill //////////////////////// */

  --main-yoga-dia: 300px;
  --main-yogo-red: 150px;
  --small-skill-dia: 100px;
  --small-skill-red: 50px;
}

/* //////////////////////////////////////////////////////////// */
/* ========================== common style ====================== */
body {
  font-family: "Mulish", sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
/* ==================================================================== */
header {
  width: 100%;
  max-width: 1980px;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(0, 9, 9, 0.5),
      rgba(0, 9, 9, 0.8)
    ),
    url("../images/headerbackground.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem var(--main-padding);
}
.logo {
  color: #ff0601;
  font-family: "The Nautigal", cursive;
  font-weight: bold;
  text-transform: capitalize;
}
.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  transition: color 300ms ease-in, transform 200ms ease-in;
}
.nav-link li {
  padding: 2px 10px;
  margin: 0 5px;
  text-transform: capitalize;
}
.nav-link:hover {
  color: #f23a0c;
  transform: scale(0.8);
}
.bar-btn {
  display: none;
}
.close-btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  :root {
    --main-padding: 30px;
  }
  .nav-box {
    transform: translateX(1000%);
    transition: transform 500ms ease-in-out;
  }
  .show {
    transform: translateX(0);
  }
  .color-box-bot {
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    position: fixed;
    width: 50%;
    max-width: 320px;
    min-width: 220px;
    background-color: black;
    display: flex;
    justify-content: right;
    z-index: 1000;
    transition-delay: 400ms;
  }
  .color-box-bot.show {
    transition-delay: 0ms;
  }
  .color-box-mid {
    width: 95%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: right;
    transition-delay: 200ms;
  }
  .color-box-mid.show {
    transition-delay: 200ms;
  }
  .color-box-top {
    width: 95%;
    height: 100%;
    background-color: #fff;
    position: relative;
    transition-delay: 0ms;
  }
  .color-box-top.show {
    transition-delay: 400ms;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    margin: 10px 0;
    color: #000;
    width: 100%;
  }
  .nav-link li {
    width: 100%;
    display: block;
    text-align: center;
  }
  .close-btn {
    display: flex;
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: #fff;
  }
  .close-btn img {
    width: 30px;
    height: 30px;
  }
  .bar-btn {
    display: flex;
    position: absolute;
    top: 50%;
    right: var(--main-padding);
    transform: translate(50%, -50%);
  }
  .filler-div {
    width: 100%;
    height: 80px;
    background-color: #000;
  }
}
/* ==========================mani container================================ */
main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: block;
  color: #fff;
}
.main-container h3 {
  position: relative;
  text-transform: capitalize;
}
.main-container h3::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 3px;
  bottom: 10%;
  right: 0%;
  background-color: red;
  border-end-end-radius: 50%;
}

.main-container h1 {
  color: #ffb5b5;
  text-transform: capitalize;
}

#change-text {
  font-size: 1.3em;
  position: relative;
  border-right: 3px solid red;
  white-space: nowrap;
  padding: 2px;
  animation-name: typebar;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
}
@keyframes typebar {
  0% {
    border-color: red;
  }
  50% {
    border-color: #fff;
  }
  100% {
    border-color: red;
  }
}

/* //////////////////////////////////////////////////////////////////////// */
.topic-section {
  width: 100%;
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.working-area {
  display: block;
  width: 80%;
}
.heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.topic-heading {
  position: relative;
}
.topic-heading::before {
  content: "";
  position: absolute;
  height: 5px;
  background-image: linear-gradient(
    to right,
    #ff1700,
    #aefeff,
    #ffe400,
    #06ff00,
    #ff1700
  );
  bottom: -5%;
  left: -10%;
  right: -10%;
}
.topic-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================== about========================================= */
.my-image {
  flex-basis: 25%;
  height: 300px;
  background-color: #ffb5b5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text {
  flex-basis: 70%;
  height: 300px;
}
.about-text * {
  margin: 10px 0;
}

.read-more-btn {
  min-width: 150px;
  max-width: 150px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #ff0601;
  color: #fbd14b;
  cursor: pointer;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* ========================== skills ================================================== */
.skill-text {
  flex-basis: 51%;
  padding: 20px 0 10px 0;
}
.skill-info-text p span {
  font-weight: 1000;
  font-size: 1.1em;
}
.skill-show {
  flex-basis: 45%;
  display: grid;
  place-items: center;
  position: relative;
  padding: 20px 0 10px 0;
}
.yoga-pic {
  width: var(--main-yoga-dia);
  height: var(--main-yoga-dia);
  border-radius: 50%;
  position: relative;
  animation: round 8000ms ease 0s infinite;
}

.bubble {
  width: var(--small-skill-dia);
  height: var(--small-skill-dia);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - var(--small-skill-red));
  top: calc(50% - var(--small-skill-red));
  display: grid;
  place-items: center;
}
.html {
  transform: translateX(var(--main-yogo-red));
  background-image: linear-gradient(to top, #e34c26, #f06529, #ebebeb);
}
.css {
  transform: rotate(60deg) translateX(var(--main-yogo-red));
  background-image: linear-gradient(to top, #1a374d, #406882, #6998ab);
}
.js {
  transform: rotate(120deg) translateX(var(--main-yogo-red));
  background-image: linear-gradient(to top, #f0db4f, #323330);
}
.python {
  transform: rotate(180deg) translateX(var(--main-yogo-red));
  background-image: linear-gradient(to top, #4b8bbe, #ffe873, #646464);
}
.sql {
  transform: rotate(240deg) translateX(var(--main-yogo-red));
  background-image: linear-gradient(to top, #00758f, #f29111);
}
.c {
  transform: rotate(300deg) translateX(var(--main-yogo-red));
  background-image: linear-gradient(to top, #7900ff, #548cff, #fa73f0);
}
.small-inside {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: oppositround 8000ms ease 0s infinite;
}
.yogaIcon {
  background-image: url("../images/yoga.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.css .small-inside {
  transform: rotate(-60deg);
}
.js .small-inside {
  transform: rotate(-120deg);
}
.python .small-inside {
  transform: rotate(-180deg);
}
.sql .small-inside {
  transform: rotate(-240deg);
}
.c .small-inside {
  transform: rotate(-300deg);
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ==================== projects ========================================= */
.project {
  flex-basis: 31%;
  padding: 10px 5px;
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.project h3 {
  text-align: center;
  padding: 5px 0;
}

.more-projects-btn {
  min-width: 200px;
  max-width: 200px;
  resize: none;
  height: 50px;
  border-radius: 25px;
  background-color: red;
  margin: 30px auto;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ==================== contact ========================================= */
.contact-section {
  width: 100%;
  height: 95vh;
  padding: 5rem 15rem;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0)),
    linear-gradient(rgba(0, 256, 248), rgba(0, 256, 248));
}
.contact-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-box {
  flex-basis: 49%;
  height: 100%;
  border: 1px solid #fff;
  padding: 20px 20px;
  display: block;
}
.contact-box h4 {
  text-align: center;
  color: #ffb5b5;
}
.contact-line {
  text-align: center;
}
.name span svg {
  color: #fff;
  width: 50px;
  height: 50px;
}
.contact-box.contact-info div {
  margin: 20px 20px;
}
.contact-box.contact-info div * {
  padding: 0 0 5px 0;
}
.contact-box.contact-info div h5 {
  font-size: 15px;
}

.contact-box.contact-info div p .copy-btn {
  background-color: transparent;
  color: #fff;
  padding: 2px;
  margin-top: 10px;
  position: relative;
}
.form-group {
  position: relative;
  margin: 20px 0;
}
.form-group input,
.form-group textarea {
  width: 100%;
  background-color: transparent;
  display: block;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  border: 0;
  border: 1px solid #fff;
}
.form-group input:focus,
.form-group input:valid {
  border: 0;
}
.form-group label span {
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  display: block;
}
.sb {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-btn {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: 0;
}
